@use '../stylesheets/basics' as b;
@use '../stylesheets/variables' as v;

.page-not-found-container {
    @include b.center-element;
    text-align: center;
    color:#0f0f0f;

    h2 {
        font-size: 100px;
        color: rgb(82, 82, 136);
    }

    h3 {
        font-size: 50px;
        font-weight: 400;
        font-family: v.$text-font;
    }

    p {
        margin: 1em 0;
        font-size: 16px;
    }

    a {
        text-decoration: none;
    }
    
}
