@import url("https://use.typekit.net/kjw7qtq.css");

$header-font: questa, serif;
$phone: 600px;
$tablet: 1024px;

.company-name-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1, h2 {
        font-weight: 100;
    }
    
    h1 {
        font-size: 100px;
        font-family: $header-font;
        
        @media screen and (min-width: $phone) {
            font-size: 200px;
        }

        @media screen and (min-width: $tablet) {
            font-size: 150px;
        }
    }

    h2 {
        font-size: 35px;
        line-height: 0.5;

        @media screen and (min-width: $phone) {
            font-size: 70px;
        }

        @media screen and (min-width: $tablet) {
            font-size: 52.5px;
        }
        
        span {
            display: inline-block;
            position: relative;
            padding: 0px 15px; 
            font-family: $header-font; 

            &:before, &:after {
                content: "";
                position: absolute;
                height: 5px;
                border-top: 2px solid;
                top: 5px;
                width: 50%;
            }

            &:before {
                right: 100%;
            }

            &:after {
                left: 100%;
            }
        }
    }

}


