@use '../../stylesheets/basics.scss' as b;

.toggle-button-container {
    height: 100px;
    width: 100px;
    position: relative;
    transition: filter .2s ease-in-out;

    &:hover {
        filter: saturate(200%) brightness(.9);
    }

    svg {
        height: 35px;
        position: relative;
        top: 5px;
        @include b.center-element;
    }
}

.bars {
    .cross {
        display: none;
    }
}

.cross {
    .bars {
        display: none;
    }
}

.inverse {
    svg {
        rect {
            fill: white;
        }
    }
}