@use '../../stylesheets/basics.scss' as b;
@use '../../stylesheets/variables.scss' as v;

@mixin for-phone {
    @media (max-width: v.$phone) {
        @content;
    }
}

.toggle-button-container {
    height: 80px;
    width: 200px;
    position: relative;
    transition: filter .2s ease-in-out;

    @include for-phone() {
        width: 100px;
    }

    &:hover {
        filter: saturate(200%) brightness(.9);
    }

    svg {
        height: 35px;
        position: relative;
        top: 5px;
        @include b.center-element;
    }
}

.bars {
    .cross {
        display: none;
    }
}

.cross {
    .bars {
        display: none;
    }
}

.inverse {
    svg {
        rect {
            fill: white;
        }
    }
}