@use '../../stylesheets/basics' as b;

.services-card-container {
    background: black;
    height: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .services-card-face {
        height: 95%;
        width: 95%;
        background: white;
        transition: opacity .2s ease-in-out;

        @include b.for-tablet() {
            display: none;
        }
    }

    .services-card-content {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 20% 10%;
        display: flex;
        justify-content: center;
        align-items: space-evenly;
        z-index: 1;

        &:hover +.services-card-face {
            opacity: 0;
        }

        &:hover h3 {
            color: white;
        }

        @include b.for-tablet() {
            padding: 0
        }

        h3 {
            font-size: 24px;
        }

    }

    @include b.for-tablet() {
        height: 100px;
    }
}