@use '../../stylesheets/basics' as b;

.login-container {
    height: 100vh;
    background-color: rgb(82, 82, 136);
      
    .login-content-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0 5%;
        height: 80%;
        width: 60%;
        background-color: white;
        @include b.center-element;

        @include b.for-tablet() {
            height: 90%;
            width: 90%;
        }
        
        .login-content-logo-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        a {
            text-decoration: none;
         }
    }
}