---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import config from "../content/config/config.json";
import client from "../../tina/__generated__/client";
import HomePage from "../../tina/pages/HomePage.tsx";
import "../styles/certax.css";

const data = await client.queries.home({ relativePath: "home.json" });
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={data.data.home.seoTitle}
			description={config.seo.description}
		/>
	</head>
	<body>
		<HomePage {...data} client:tina />
	</body>
</html>
