@use '../stylesheets/variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: variables.$text-font;
}

//responsive font size
//calc(100px + (150 - 100) * ((100vw - 480px) / (1920 - 480)))


