@use '../stylesheets/variables' as v;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: v.$text-font;
}

html {
    scroll-behavior: smooth;
}

body {
    animation: fade-in 1s ease-in-out;
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: v.$header-font;
}

@keyframes fade-in {
    0% { opacity:0; }
    100% { opacity:1; }
}

//responsive font size
//calc(100px + (150 - 100) * ((100vw - 480px) / (1920 - 480)))


body::-webkit-scrollbar  {
    width: 10px;
    background-color: #525288
}

body::-webkit-scrollbar-thumb {
    background-color: #E2AA60;	
}

:root{
    scrollbar-color: #E2AA60 white !important;
    scrollbar-width: thin !important;
  }

  .app-container {
      transition: background-color .5s ease-in-out;
  }

  