
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 80%;
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}