p, li {
    font-size: calc(16px + (18 - 16) * ((100vw - 480px) / (1920 - 480)));
    font-weight: 100;
    line-height: 36px;
    margin: .5em 0;
}

ul {
    li {
        margin: .25em 0 .25em 2.5em !important;
    }
}

.bold {
    font-weight: 700 !important;
}