@use '../../stylesheets/variables' as v;
@use '../../stylesheets/basics' as b;

.quotation-question-container {
    height: 300px;
    flex: 1;
    border-style: solid;
    border-color: black;
    border-width: .5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1em;
    transition: all 1s ease-in-out;

    .quotation-question-text-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 65%;
        transition: height 1s ease-in-out;

        @include b.for-tablet() {
            justify-content: space-evenly;
            height: 100%;
        }

        .quotation-question-text {

            h3 {
                font-size: 24px;
                font-weight: 500;
                font-family: v.$text-font;
            }

            p {
                margin-top: .5em;
                color: grey;
                font-size: 14px;
            }
        }
    }
}

.locked {
    opacity: .5;
    height: 225px;

    .quotation-question-text-container {
        height: 90%;
    }
}