.para, .point {
    font-size: calc(16px + (18 - 16) * ((100vw - 480px) / (1920 - 480)));
    font-weight: 100;
    line-height: 36px;
    margin: .5em 0;
}

ul {
    margin-left: 3em;
    .point {
        margin: .25em 0 .25em 2.5em !important;

        .para {
            &:before {
            content: "\2022";
            font-weight: bold;
            display: inline-block; 
            width: 1em;
            margin-left: -1em;
            }
        }
    }
}

.bold {
    font-weight: 700 !important;
}