@use '../../stylesheets/basics' as b;
@use '../../stylesheets/variables' as v;

@mixin for-phone {
    @media (max-width: v.$phone) {
        @content;
    }
}

.content-box-container {
    position: relative;
    width: 90%;
    height: 80%;
    max-width: 1135px;
    background-color: #FFFFFFE6;
    box-shadow: 0 0px 7px rgba(0,0,0,0.05),0 6px 20px 0 rgba(0,0,0,0.05);
    @include b.center-element;
    display: flex;
    align-items: center;
    justify-content: center;
    

    .staircase-container {
        width: 360px;

        @include for-phone() {
            display: none;
        }
    }

    .content-box-left-half, .content-box-right-half {
        position: absolute;
        height: 100%;
        width: 50%;
        border-width: 1px;
        border-style: solid;
    }

    .content-box-left-half {
        left: 0;
    }

    .content-box-right-half {
        right: 0;
    }
}