@use '../../stylesheets/basics' as b;
@use '../../stylesheets/variables' as v;

@mixin for-phone {
    @media (max-width: v.$phone) {
        @content;
    }
}

.content-box-container {
    position: relative;
    width: 90%;
    height: 80%;
    max-width: 1135px;
    background-color: #FFFFFFbd;
    box-shadow: 0px 3px 10px #00000021;
    @include b.center-element;
    display: flex;
    align-items: center;
    justify-content: center;
    

    .staircase-container {
        width: 360px;

        @include for-phone() {
            display: none;
        }
    }

    .content-box-left-half, .content-box-right-half {
        position: absolute;
        height: 100%;
        width: 50%;
        border-width: 1px;
        border-style: solid;
        z-index: -1;
    }

    .content-box-left-half {
        left: 0;
    }

    .content-box-right-half {
        right: 0;
    }
}