@use '../../stylesheets/variables' as v;
@use '../../stylesheets/basics' as b;

.navbar-item-container {

    border-width: .5px;
    border-style: solid;
    transition: filter .2s ease-in-out;
    cursor: pointer;
    @include b.no-text-highlight;

    &:hover {
        filter: saturate(200%) brightness(.9);
    }

    p {
        font-size: calc(60px + (100 - 60) * ((100vw - 480px) / (1920 - 480)));
        font-family: v.$header-font;
        font-weight: 100;
        margin: 0 2vw;
        text-align: center;

    }
}

