@use '../../stylesheets/basics' as b;

.info-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    position: relative;

    .info-section-content-wrapper {
        height: 600px;
        width: 90%;
        // background: grey;
        display: flex;
        margin: 0 auto;

        .info-section-content {
            flex-basis: 65%;
            @include b.for-tablet() {
                flex-basis:100%;
            }

            svg {
                @include b.for-phone() {
                    display: none;
                }
            }

            .content-container {
                p {
                    max-width: 80%;
                    @include b.for-phone() {
                        max-width: unset;
                    }
                }
            }
        }

        .left-side-graphic {
            flex-basis: 25%;

            @include b.for-tablet() {
                display: none;
            }

            @include b.for-phone() {
                display: none;
            }
        }   
        
    }

    .middle-graphic-container {
        // background: black;
        width: 150px; 
        position: relative;
    }
}