.info-section-container {
    display: flex;
    padding-top: 50px;
    position: relative;

    .info-section-content-wrapper {
        height: 600px;
        width: 90%;
        // background: grey;
        display: flex;
        margin: 0 auto;

        .info-section-content {
            flex-basis: 75%;
        }

        .left-side-graphic {
            flex-basis: 15%;
        }

        .empty-space {
            flex-basis: 15%;
        }
        
    }
}