@use '../../stylesheets/basics' as b;

.services-container {
    width: 100%;

    .services-card-list-container {
        display: grid;
        grid-template-columns: repeat(3, auto);
        column-gap: 20px;
        row-gap: 20px;
        margin-top: 20px;

        @include b.for-tablet() {
            grid-template-columns: auto;
            row-gap: 0;
            margin-top: 0px;
        }
    }
}