@use '../../stylesheets/basics' as b;

.quote-carousel-container {
    height: 250px;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 10px;

    .quote-carousel-button {
        position: relative;
        width: 10vw;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            filter: brightness(.8);
        }
    }

    #back {
        p {
            font-size: calc(16px + (20 - 16) * ((100vw - 480px) / (1920 - 480)));
            transform: rotate(270deg);
            @include b.no-text-highlight;
        }
    }

    #forward {
        p {
            font-size: calc(16px + (20 - 16) * ((100vw - 480px) / (1920 - 480)));
            transform: rotate(90deg);
            @include b.no-text-highlight;
        }
    }

    .quote-carousel-list-wrapper {
        position: relative;
            width: 80vw;
            height: 100%;
            display: flex;
            align-items: center;
            overflow: hidden;



        .quote-carousel-list {
            display: flex;
            flex-direction: row;
            height: 100%;
            width: 100%;
            position: relative;
            transition: left 1s ease-in-out;


            .quote-carousel-item-container {
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 25%;
                height: 100%;

                @include b.for-tablet() {
                    min-width: 33.33%;
                }

                @include b.for-phone() {
                    min-width: 100%;
                }


                .quote-carousel-item {
                    width: 95%;
                    height: 95%;
                    border-style: solid;
                    border-width: 1px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    padding: 10%;
                    @include b.no-text-highlight;
                    
                    p {
                        text-transform: uppercase;
                        font-size: calc(19px + (25 - 19) * ((100vw - 480px) / (1920 - 480)));
                        text-align: left;
                    }

                    h4 {
                        text-transform: uppercase;
                        text-align: right;
                    }
                }
            }
            
        }
    }

}