@use '../../stylesheets/basics' as b;
@use '../../stylesheets/variables' as v;

.quote-carousel-container {
    height: 200px;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 10px;

    .quote-carousel-button {
        position: relative;
        width: 10vw;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            filter: brightness(.8);
        }
    }

    #back {
        cursor: pointer;
        p {
            font-size: calc(16px + (18 - 16) * ((100vw - 480px) / (1920 - 480)));
            transform: rotate(270deg);
            @include b.no-text-highlight;
        }
    }

    #forward {
        cursor: pointer;
        p {
            font-size: calc(16px + (18 - 16) * ((100vw - 480px) / (1920 - 480)));
            transform: rotate(90deg);
            @include b.no-text-highlight;
        }
    }

    .quote-carousel-list-wrapper {
        position: relative;
            width: 80vw;
            height: 100%;
            display: flex;
            align-items: center;
            overflow: hidden;



        .quote-carousel-list {
            display: flex;
            flex-direction: row;
            height: 100%;
            width: 100%;
            position: relative;
            transition: left 1s ease-in-out;


            .quote-carousel-item-container {
                display: flex;
                flex: 1;
                justify-content: center;
                align-items: center;
                min-width: 25%;
                height: 100%;

                @include b.for-tablet() {
                    min-width: 50%;
                }

                @include b.for-phone() {
                    min-width: 100%;
                }


                .quote-carousel-item {
                    width: 95%;
                    height: 95%;
                    border-style: solid;
                    border-width: 1px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    padding: 10%;
                    @include b.no-text-highlight;
                    @include b.for-smallPhone() {
                        padding: 0%;
                    }

                    h3 {
                        font-size: calc(18px + (25 - 18) * ((100vw - 480px) / (1920 - 480)));
                        margin-bottom: 1em;
                        font-weight: 450;
                        text-align: center;
                    }
                    
                    p {
                        text-transform: uppercase;
                        font-size: calc(16px + (18 - 16) * ((100vw - 480px) / (1920 - 480)));
                        font-weight: 100;
                        text-align: left;
                    }

                    h4 {
                        // text-transform: uppercase;
                        text-align: right;
                    }

                    h5 {
                        text-transform: uppercase;
                        text-align: right;
                        font-weight: 300;
                    }
                }
            }
            
        }
    }

}

.wide {
    color: red;
    align-items: center !important;
    width: 99.5% !important;
    min-width: 100% !important;

    .quote-carousel-item {
        width: 100% !important;

        P {
            text-transform: none !important;
            text-align: center !important;
            font-size: 16px !important;
            margin-bottom: 1em;
        }

    }
}

.tall {
    height: 400px;
    @include b.for-tablet() {
        height: 650px !important;
    }
}
