@use '../../stylesheets/variables' as v;
@use '../../stylesheets/basics' as b;

.content-container {
    display: flex;
    max-width: 90%;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
    @include b.for-phone() {
        align-items: center;
    }

    .header-container {
        position: relative;

        h3 {
            font-family: v.$header-font;
            font-size: calc(35px + (40 - 35) * ((100vw - 480px) / (1920 - 480)));
            font-weight: 400;
        }

    }

    p {
        // text-align: center;
        font-size: calc(16px + (20 - 16) * ((100vw - 480px) / (1920 - 480)));
        font-weight: 100;
        line-height: 36px;
    }

    .buttons-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        @include b.for-phone() {
            flex-direction: column;
        }

        .button {
            @include b.for-phone() {
                margin-top: 5px;
            }
        }
    }
}