@use '../../stylesheets/variables' as v;
@use '../../stylesheets/basics' as b;

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
    @include b.for-phone() {
        align-items: center;
    }

    .header-container {
        position: relative;

        h3 {
            font-family: v.$header-font;
            font-size: calc(35px + (40 - 35) * ((100vw - 480px) / (1920 - 480)));
            font-weight: 400;
        }

    }

    p {
        // text-align: center;
        font-size: calc(16px + (20 - 16) * ((100vw - 480px) / (1920 - 480)));
        font-weight: 100;
        max-width: 80%;
        line-height: 36px;
    }
}