@use '../../stylesheets/variables' as v;

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    // align-items: center;
    height: 80%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    .header-container {
        position: relative;

        h3 {
            font-family: v.$header-font;
            font-size: calc(35px + (40 - 35) * ((100vw - 480px) / (1920 - 480)));
            font-weight: 400;
        }

        .underline {
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            // justify-content: center;

            div {
                margin-top: 1em;
                height: 2px;
                width: 30%;
                background-color: black;
            }
        }
    }

    p {
        // text-align: center;
        font-size: calc(16px + (20 - 16) * ((100vw - 480px) / (1920 - 480)));
        font-weight: 100;
        max-width: 80%;
        line-height: 36px;
    }
}