@use '../../stylesheets/variables' as v;

@mixin for-phone {
    @media (max-width: v.$phone) {
        @content;
    }
}

.company-text-logo-container {
    @include for-phone() {
        width: 200px;
    }
    
    svg {
        height: 35px;
        position: relative;
        top: 5px; // centers the logo

        .hide {
            @include for-phone {
                display: none;
            }
        }

        @include for-phone {
            height: 50px;
        }
        
    }
}