@use '../../stylesheets/basics' as b;

.button {
    padding: 1em 2.5em;
    font-size: calc(16px + (20 - 16) * ((100vw - 480px) / (1920 - 480)));
    border-width: 1px;
    border-style: solid;
    @include b.no-text-highlight;

    &:hover {
        filter: brightness(.9);
    }

    &:active {
        filter: brightness(.8);
    }
}
