.input-field-container {
   display: flex;
   margin: 0 auto;
   flex-direction: column;
   align-items: flex-start;
   width: 60%;
   margin-bottom: 25px;


   label {
       font-size: 17px;
       font-weight: 100;
   }

   input, select {
       width: 100%;
       height: 50px;
       border: none;
       border-style: solid;
       border-width: .5px;
       border-radius: 0;
       font-size: 16px;
       font-weight: 100;
       padding: 12px 10px;
       outline: none;

       option {
           font-weight: 100;
       }
   }
}