@use '../../stylesheets/basics' as b;

.input-field-container {
   display: flex;
   margin: 0 auto;
   flex-direction: column;
   align-items: flex-start;
   width: 60%;
   margin-bottom: 25px;


   label {
       font-size: 17px;
       font-weight: 100;
   }

   input, select {
       width: 100%;
       height: 50px;
       border: none;
       border-style: solid;
       border-width: .5px;
       border-radius: 0;
       font-size: 16px;
       font-weight: 100;
       padding: 12px 10px;
       outline: none;

       option {
           font-weight: 100;
       }
   }


   .radio-label {
      
   }

   .radio-container {
       display: flex;
       flex-direction: row;
       width: 100%;
       flex-wrap: wrap;

        input[type="radio"] {
                display: none;
                &:checked + .radio {
                    background: black;
                    color: white;
                }
        }

        .radio {
            position: relative;
            height: 55px;
            flex: 1;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            border-width: .5px;
            border-style: solid;
            transition: all .1s ease-in;
            @include b.no-text-highlight;

            &:nth-child(n+1) {
                margin-right: 5px;
            }

            &:nth-last-child(1) {
                margin-right: 0px;
            }

        }
        }

   
}