@use '../../stylesheets/basics' as b;

.input-field-container {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: 80%;
   margin-bottom: 25px;

   @include b.for-tablet() {
       align-items: center;
       width: 90%;
   }


   label {
       font-size: 17px;
       font-weight: 100;
       text-align: center;
   }

   input, select {
       width: 100%;
       height: 50px;
       border: none;
       border-style: solid;
       border-width: .5px;
       border-radius: 0;
       font-size: 16px;
       font-weight: 100;
       padding: 12px 10px;
       outline: none;

       option {
           font-weight: 100;
       }
   }


   .radio-label {
      
   }

   .radio-list-container {
       display: flex;
       flex-direction: row;
       width: 100%;
       flex-wrap: wrap;

       .radio-container {
        flex: 1;
        &:nth-child(n+1) {
            margin-right: 5px;
        }

        &:nth-last-child(1) {
            margin-right: 0px;
        }

        @include b.for-phone() {
            margin-right: 0px !important;
        }

            input[type="radio"] {
                    display: none;
                    &:checked + .radio {
                        background: black;
                        color: white;
                        border-color: white;
                        border-width: 2px;
                    }
            }

            .radio {
                position: relative;
                height: 55px;
                min-width: 110px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                border-width: .5px;
                border-style: solid;
                transition: all .1s ease-in;
                margin-bottom: 5px;
                @include b.no-text-highlight;

              

            }
        }
    }

   
}