@use '../../stylesheets/basics' as b;

.services-section-container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin: 150px auto 0 auto;
    position: relative;
    display: flex;

    @include b.for-tablet() {
        width: 90vw;
    }

    .scroll-down-button-container {
        width: 100px;
        align-self: center;
    }
}