.navbar-container {
    position: fixed;
    height: 100px;
    background-color: rgba(255, 255, 255, .2);
    width: 100vw;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
    display: flex;
    align-items: center;
    padding: 0 3%;

    .navbar-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}