@use '../../stylesheets/basics' as b;

.services-main-card-container {
    display: flex;
    flex-direction: row;
    height: 500px;

    @include b.for-phone() {
        flex-direction: column;
    }

    @include b.for-tablet() {
        height: 800px;
    }

    .serivces-main-card-content {
        flex-basis: 45%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color .2s ease-in-out;

        @include b.for-tablet() {
            flex-basis: 60%;
        }

        @include b.for-phone() {
            flex-basis: 55%;
            order: 2;
            padding: 2em 0;
        }

        h3 {
            font-weight: 100;
            @include b.for-phone() {
                font-size: 30px;
            }
        }

        p {
            margin-top: 20px;
            font-size: 18px;
            @include b.for-tablet() {
                font-size: 16px;
            }
        }

        .button {
            margin-top: 50px;
            padding: .5em 2.5em;
        }
    }

    .services-main-card-image {
        flex-basis: 55%;
        filter: brightness(.5) contrast(.9);
        @include b.image-basics;

        @include b.for-tablet() {
            flex-basis: 40%;
        }

        @include b.for-phone() {
            flex-basis: 40%;
        }
        transition: background-image .5s ease-in-out;
    }
}