@use '../../stylesheets/variables' as v;

@mixin center-element {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin no-text-highlight {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@mixin hide {
    display: none;
}

@mixin for-phone {
    @media (max-width: v.$phone) {
        @content;
    }
}

@mixin for-tablet {
    @media (max-width: v.$tablet) {
        @content;
    }
}