@use '../../stylesheets/basics' as b;
@use '../../stylesheets/variables' as v;

.chatbox-container {
    position: fixed;
    width: 370px;
    z-index: 10;
    bottom: -100%;
    right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: bottom .5s ease-in-out, opacity .5s ease-in-out;
    
    @include b.for-phone() {
        height: 100%;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    & > div {
        box-shadow: 0 0px 7px rgba(0, 0, 0, 0.25), 0 6px 5px 0 rgba(0, 0, 0, 0.25);
    }

    .chatbox-top-bar {
        background-color: #5661AF;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em 8%;
        min-height: 85px;
        transition: background-color .2s ease-in-out;
        z-index: 0;

        @include b.for-phone() {
            flex-basis: 10%;
        }

        .chatbox-top-bar-left {
            display: flex;
            flex-direction: row;
            align-items: center;

            .chatbox-top-bar-text {
                margin-left: 1em;
            }
        }

        .chatbox-top-bar-right {
            display: flex;
            width: 35%;
            justify-content: space-between;
            align-items: center;
            

            .chatbox-top-bar-button {
                width: 25px;

                &:hover {
                    filter: brightness(.8);
                }
            }
        }
    }

    .chatbox-body {
        background-color: #FCFCFC;
        height: 450px;
        margin: 0 2%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;

        @include b.for-phone() {
            flex-basis: 80%;
            margin: 0;
        }

        .chatbox-messages-container {
            margin-bottom: 1em;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            align-self: flex-start;

            .chatbox-avatar {
                position: relative;
                background: rgb(82, 82, 136);
                min-width: 50px;
                height: 50px;
                border-radius: 20px;
                display: flex;
            }

            .chatbox-messages {
                margin-left: .5em;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;

                .chatbox-message {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    .chatbox-timestamp {
                        font-weight: 100;
                        font-family: v.$text-font;
                        text-align: center;
                        font-size: 12px;
                        margin: .5em 0;
                        transition: all .3s ease-in-out;
                        opacity: .5;
                    } 

                    p {
                        padding: 1em;
                        border-radius: 15px;
                        margin-top: .25em;
                        overflow-wrap: break-word;
                        max-width: 200px;
                        align-self: flex-start;
                        font-weight: 100;
                        transition: filter .1s ease-in-out;

                        &:hover {
                            filter: brightness(.9);
                        }

                        &:active {
                            filter: brightness(.8);
                        }

                        @include b.for-phone() {
                            max-width: 70vw;
                        }
                    }
                }
            }
        }

        .sender {
            align-self: flex-end;
            justify-content: flex-end;

            .chatbox-messages {

                .chatbox-message {

                    .chatbox-timestamp {
                        
                    } 

                    p {
                        background: rgb(82, 82, 136);
                        color: white;
                        align-self: flex-end;
                        border-bottom-right-radius: 0;
                    }
                }
            }
        }

        .responder {

            .chatbox-messages {

                .chatbox-message {

                    .chatbox-timestamp {
                        transform: translateX(-25px);
                    } 

                    p {
                        background: #F1F0F0;
                        align-self: flex-start;
                        border-bottom-left-radius: 0;
                    }
                }
            }
        }
    }

    .chatbox-input-container {
        height: 75px;
        background: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2em;
        z-index: 0;

        @include b.for-phone() {
            flex-basis: 10%;
        }

        .chatbox-input {
            border: none;
            width: 100%;
            color: #2f2f58;
        }

        .send-button {
            height: 25px;
            &:hover {
                filter: brightness(.8);
            }
            * {
                transition: all .2s ease-in-out;
            }
        }
    }
}

.chatbox-top-bar-text {
                
    h3 {
        font-family: v.$text-font;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: .2em;
    } 

    .status {
        font-size: 14px;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-weight: 300;
        opacity: 8;
    }
}

.chatbox-open-button {
    position: fixed;
    height: 100px;
    width: 100px;
    z-index: 100;
    right: 2.5%;
    bottom: 2.5%;
    background: white;
    padding: 1em;
    box-shadow: 0 0px 7px rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    transition: filter .1s ease-in-out, bottom 1s ease-in-out, opacity .25s ease-in-out;

    &:hover {
        filter: brightness(.9);
    }
}


.hidden {
    bottom: -100%;
    opacity: 0;
}

.show {
    bottom: 0;
    opacity: 1;
}

.chatbox-avatar-icon {
    height: 50%;
    width: 80%;
    @include b.center-element;
}

.clickable {
    &:hover {
        filter: brightness(.8);
    }

    &:active {

    }
}

.collapse {
    margin: 0 !important;
    height: 0;
    opacity: 0 !important;
}

.chatbox-avatar {
    position: relative;
    background: rgb(82, 82, 136);
    min-width: 50px;
    height: 50px;
    border-radius: 5px;
    display: flex;
}

.center-top {
    left: 50%;
    top: 0%;
    transform: translate(-50%, -75%);
    border-radius: 100px;

    @include b.for-phone() {
        transform: translate(-50%, -100%);
    }
}

.chatbox-switch-chat {

}

.chatbox-top-bar-button {
    width: 25px;
    height: 25px;

    &:hover {
        filter: brightness(.8);
    }
}

.seen {
    font-weight: 100;
    opacity: .5;
    margin-top: .5em;
}

.online {
    &:before {
        content: "";
        height: 15px;
        width: 15px;
        border-radius: 6px;
        background-color: #44EA9A;
        margin-right: .5em;
        position: relative;
        left: 100%;
        top: 100%;
        transform: translate(-75%, -75%);
    }
}

.status-active {
    &:before {
        content: "";
        height: 10px;
        width: 10px;
        border-radius: 100%;
        background-color: #44EA9A;
        margin-right: .5em;
    }
}

.status-unactive {
    &:before {
        content: "";
        height: 10px;
        width: 10px;
        border-radius: 100%;
        background-color: #ea4444;
        margin-right: .5em;
    }
}

.typing {
    span {
        height: 2px;
        width: 2px;
        border-radius: 100%;
        background-color: white;
        margin-right: .25em;
        position: relative;
        top: 100%;
        left: 5%;
        transform: translateY(200%);

        &:nth-child(3) {
            animation: bounce 1s infinite;
          }
          &:nth-child(2) {
            animation: bounce 1s infinite .2s;
          }
          &:nth-child(1) {
            animation: bounce 1s infinite .4s;
          }
    }
}

.smallbounce {
    animation: smallbounce 1s infinite .4s;
}

// Taken from https://codepen.io/nunoooo/pen/OxbYop
@keyframes bounce {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(8px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  @keyframes smallbounce {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(3px);
    }
    100% {
      transform: translateY(0px);
    }
  }

.chat-list-item-container {
    height: 80px;
    // background: red;
    margin-bottom: 1em;
    padding: 0 .5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    @include b.no-text-highlight;

    &:hover {
        background: #EEEEEE;
    }

    .chatbox-avatar {
        height: 60px;
        width: 60px;
        flex-basis: 20%;

        
    }

    .chat-list-item-content {
        display: flex;
        flex-direction: column;
        margin-left: .75em;
        flex-basis: 80%;

        .chat-list-item-top-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            h3 {
                font-family: v.$text-font;
                color: #343434;
                font-size: 14px;
            }

            p {
                font-size: 12px;
                color: #676767;
            }
        }

        .chat-list-item-bottom-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;

            .trimmed-text {
                font-size: 14px;
                color:#9E9E9E;
            }

            .chat-list-item-messages-counters {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;

                p {
                    padding: .25em;
                    border-radius: 100px;
                    background: black;
                    min-width: 22px;
                    min-height: 22px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 12px;
                    margin-left: .5em;
                    color: white;
                    font-weight: 100;
                }
            }
        }
    }

}
