@use '../../stylesheets/basics' as b;
@use '../../stylesheets/variables' as v;

.chatbox-container {
    position: fixed;
    width: 370px;
    z-index: 10;
    bottom: -100%;
    right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: bottom .5s ease-in-out, opacity .5s ease-in-out;
    
    @include b.for-phone() {
        height: 100%;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    & > div {
        box-shadow: 0 0px 7px rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    }

    .chatbox-top-bar {
        background-color: #5661AF;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em 8%;
        transition: background-color .2s ease-in-out;

        @include b.for-phone() {
            flex-basis: 10%;
        }

        .chatbox-top-bar-text {
            h3 {
                font-family: v.$text-font;
                font-size: 24px;
                font-weight: 300;
                margin-bottom: .2em;
            } 

            p {
                font-size: 14px;
                display: flex;
                flex-direction: row;
                align-items: center;
                font-weight: 300;
                opacity: 8;

                // &:before {
                //     content: "";
                //     height: 10px;
                //     width: 10px;
                //     border-radius: 100%;
                //     background-color: #44EA9A;
                //     margin-right: .5em;
                // }
            }
        }

        .chatbox-top-bar-buttons {
            display: flex;
            width: 40%;
            justify-content: space-between;
            

            .chatbox-top-bar-button {
                width: 40px;
                padding: 2%;

                &:hover {
                    filter: brightness(.8);
                }
            }
        }
    }

    .chatbox-body {
        background-color: #FCFCFC;
        height: 450px;
        margin: 0 2%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;

        @include b.for-phone() {
            flex-basis: 80%;
            margin: 0;
        }

        .chatbox-messages-container {
            margin-bottom: 1em;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            align-self: flex-start;

            .chatbox-avatar {
                position: relative;
                background: rgb(82, 82, 136);
                min-width: 50px;
                height: 50px;
                border-radius: 20px;
                display: flex;
            }

            .chatbox-messages {
                margin-left: .5em;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;

                .chatbox-message {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    .chatbox-timestamp {
                        font-weight: 100;
                        font-family: v.$text-font;
                        text-align: center;
                        font-size: 12px;
                        margin: 1em 0;
                        transition: all .3s ease-in-out;
                        opacity: .5;
                    } 

                    p {
                        padding: 1em;
                        border-radius: 15px;
                        margin-top: .25em;
                        overflow-wrap: break-word;
                        max-width: 200px;
                        align-self: flex-start;
                        font-weight: 100;
                        transition: filter .1s ease-in-out;

                        &:hover {
                            filter: brightness(.9);
                        }

                        &:active {
                            filter: brightness(.8);
                        }

                        @include b.for-phone() {
                            max-width: 70vw;
                        }
                    }
                }
            }
        }

        .sender {
            align-self: flex-end;
            justify-content: flex-end;

            .chatbox-messages {

                .chatbox-message {

                    .chatbox-timestamp {
                        
                    } 

                    p {
                        background: rgb(82, 82, 136);
                        color: white;
                        align-self: flex-end;
                        border-bottom-right-radius: 0;
                    }
                }
            }
        }

        .responder {

            .chatbox-messages {

                .chatbox-message {

                    .chatbox-timestamp {
                        transform: translateX(-25px);
                    } 

                    p {
                        background: #F1F0F0;
                        align-self: flex-start;
                        border-bottom-left-radius: 0;
                    }
                }
            }
        }
    }

    .chatbox-input-container {
        height: 75px;
        background: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2em;
        z-index: 0;

        @include b.for-phone() {
            flex-basis: 10%;
        }

        .chatbox-input {
            border: none;
            width: 100%;
            color: #2f2f58;
        }

        .send-button {
            height: 25px;
            &:hover {
                filter: brightness(.8);
            }
            * {
                transition: all .2s ease-in-out;
            }
        }
    }
}

.chatbox-open-button {
    position: fixed;
    height: 100px;
    width: 100px;
    z-index: 100;
    right: 2.5%;
    bottom: 2.5%;
    background: white;
    padding: 1em;
    box-shadow: 0 0px 7px rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    transition: filter .1s ease-in-out, bottom 1s ease-in-out, opacity .25s ease-in-out;

    &:hover {
        filter: brightness(.9);
    }
}


.hidden {
    bottom: -100%;
    opacity: 0;
}

.show {
    bottom: 0;
    opacity: 1;
}

.chatbox-avatar-icon {
    height: 50%;
    width: 80%;
    @include b.center-element;
}

.clickable {
    &:hover {
        filter: brightness(.8);
    }

    &:active {

    }
}

.collapse-timestamp {
    margin: 0 !important;
    height: 0;
    opacity: 0 !important;
}

.chatbox-avatar {
    position: relative;
    background: rgb(82, 82, 136);
    min-width: 50px;
    height: 50px;
    border-radius: 5px;
    display: flex;
}

.chatbox-switch-chat {

}
