@use '../../stylesheets/basics' as b;
@use '../../stylesheets/variables' as v;

.chatbox-container {
    position: fixed;
    width: 370px;
    z-index: 10;
    bottom: -100%;
    right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: bottom .5s ease-in-out, opacity .5s ease-in-out;
    

    @include b.for-phone() {
        height: 100%;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    & > div {
        box-shadow: 0 0px 7px rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    }

    .chatbox-top-bar {
        background-color: #5661AF;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em 8%;

        .chatbox-top-bar-text {
            h3 {
                font-family: v.$text-font;
                font-size: 24px;
                font-weight: 300;
                margin-bottom: .2em;
            } 

            p {
                font-size: 14px;
                display: flex;
                flex-direction: row;
                align-items: center;
                font-weight: 300;
                opacity: 8;

                &:before {
                    content: "";
                    height: 10px;
                    width: 10px;
                    border-radius: 100%;
                    background-color: #44EA9A;
                    margin-right: .5em;
                }
            }
        }

        .chatbox-top-bar-button {
            height: 40px;
            width: 40px;
            padding: 2%;

            &:hover {
                filter: brightness(.8);
            }
        }
    }

    .chatbox-body {
        background-color: #FCFCFC;
        height: 450px;
        margin: 0 2%;
        display: flex;
    }

    .chatbox-input-container {
        height: 75px;
        background: white;
    }
}

.chatbox-open-button {
    position: fixed;
    height: 100px;
    width: 100px;
    z-index: 100;
    right: 2.5%;
    bottom: 2.5%;
    background: white;
    padding: 1em;
    box-shadow: 0 0px 7px rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    transition: filter .1s ease-in-out, bottom 1s ease-in-out, opacity .25s ease-in-out;

    &:hover {
        filter: brightness(.9);
    }
}


.hidden {
    bottom: -100%;
    opacity: 0;
}

.show {
    bottom: 0;
    opacity: 1;
}
