@use '../../stylesheets/basics' as b;

.contact-us-section-container {
    position: relative;
    width: 80vw;
    display: flex;
    margin: 50px auto 0 auto;

    @include b.for-tablet () {
        width: 90vw;
    }
}