.landing-page-container {
    position: relative;
    height: 100vh;

    .landing-page-graphics-container {
        position: relative;
        height: 100%;
        z-index: 0;

        .lower-staircase-container {
            position: relative;
            bottom: 0;
        }
    }
}
