.underline {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    // justify-content: flex-jus;

    div {
        margin-top: 1em;
        height: 2px;
        width: 30%;
        background-color: black;
    }
}