@use '../../stylesheets/basics' as b;

.about-section-container {
    width: 100%;
    min-height: 100vh;
    position: relative;

    .about-section-content-container {
        width: 1135px;
        height: 588px;
        background-color: black;
        @include b.center-element;
        margin-top: 10%;

    }

}