@use '../../stylesheets/basics' as b;

.get-a-quote-container {
    display: flex;
    flex-direction: row;
    height: 800px;
    width: 80%;
    position: relative;

    @include b.for-tablet () {
        flex-direction: column;
    }

    @include b.for-phone (){
        width: 90%;
    }

    .get-a-quote-content-container {
        position: relative;
        flex-basis: 60%;
        border-style: solid;
        border-width: 1px;
        margin: 0 1%;

        @include b.for-tablet (){
            margin: 1% 0;
            order: 1;
        }

        .get-a-quote-graphic {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            transform: translate(-10%, -10%) scaleY(-1);
            z-index: -1;
            @include b.for-tablet (){
                display: none;
            }
        }

        .get-a-quote-content {
            display: flex;
            flex-direction: column;
        }
    }

    .get-a-quote-image-container {
        position: relative;
        flex-basis: 40%;
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;       

        .get-a-quote-image-darkner {
            width: 100%;
            height: 100%;
            top: 0;
            z-index: -1;
            position: absolute;
            @include b.image-basics;
            background-position: 85% 50%;
            filter: brightness(.4) contrast(85%);
        }
    }
}