.scroll-down-button-container {
    
    position: relative;
    margin-top: 45px;
    cursor: pointer;

    svg {
        height: 40px;
        transition: filter .2s ease-in-out;

        &:hover {
            filter: brightness(.9);
        }

        &:active {
            filter: brightness(.7);
        }
    }

}