@use '../../stylesheets/basics' as b;

.footer-container {
    height: 100px;
    width: 100vw;
    padding: 0 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-bottom: 40px;

    @include b.for-tablet() {
        flex-direction: column;
        height: 150px;
    }

    .footer-left,
    .footer-right {
        display: flex;
        height: 100%;
        align-items: center;

        @include b.for-tablet() {
            align-items: center;
            justify-content: space-evenly !important;
            text-align: center;
        }

        a {
            font-size: 14px;
            color: #78868f;
            text-decoration: none;
            cursor: pointer;
        }
    }

    .footer-left {
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;

        @include b.for-phone() {
            max-width: 65%;
        }

        p {
            font-size: 14px;
            color: #78868f;
            text-align: left;
        }
    }

    .footer-right {
        justify-content: flex-end;
        display: flex;
        flex-wrap: wrap;

        @include b.for-phone() {
            display: none;
        }

        a {
            flex: 1;
            margin: 0 1em;
        }

    }
}

.footer-images {
    padding: 0 5vw;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    position: relative;

    img {
        max-width: 250px;

        @include b.for-phone() {
            max-width: 150px;
        }
    }

}