@use '../../stylesheets/variables' as v;

@mixin for-phone {
    @media (max-width: v.$phone) {
        @content;
    }
}

.staircase-container {
    position: absolute;
    max-width: 49.5vw;
    width: 550px;

    @include for-phone() {
        max-width: unset;
        width: 83.5%;
    }

    svg {
        position: absolute;
        width: 100%;
        bottom: 0;

        .box-10 {
            opacity: 1;
        }

        .box-8 {
            opacity: .8;
        }

        .box-6 {
            opacity: .6;
        }

        .box-4 {
            opacity: .4;
        }

        .box-2 {
            opacity: .2;
        }
        
        .box-4, .box-2 {
            @include for-phone() {
                display: none;
            }
        }
    }
}

.BR {
    right: 0;
    bottom: 0;
}

.BL {
    left: 0;
    bottom: 0;
    transform: scaleX(-1);
}

.TR {
    top: 0;
    left: 0;
    transform: scaleX(-1) scaleY(-1);
}

.TL {
    right: 0;
    top: 0;
    transform: scaleY(-1);
}