@use '../../stylesheets/basics' as b;

.get-a-quote-section-container {
    text-align: center; 
    display: flex;
    flex-direction: column;  
    margin: 0 auto;
    position: relative;
    align-items: center;
    width: 80vw;

    @include b.for-tablet() {
        width: 90vw;
    }
}