@use '../../stylesheets/basics' as b;

.get-a-quote-section-container {
    text-align: center; 
    display: flex;
    flex-direction: column;  
    position: relative;
    align-items: center;

    .get-a-quote-graphic-container {
        width: 90%;
        text-align: center; 
        display: flex;
        flex-direction: column;  
        align-items: center;

        @include b.for-tablet () {
            width: 100%;
        }
    }
}